* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: top right, left bottom;
  min-height: 100vh;
}

.basic,
.professional,
.master {
  border-radius: 10px;
  padding: 5vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}
.basic .learn,
.professional .learn,
.master .learn {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(236deg, 72%, 79%)), to(hsl(237deg, 63%, 64%)));
  background: linear-gradient(180deg, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-color: transparent;
}
.basic .box,
.professional .box,
.master .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 45px;
  border-top: 2px dotted gray;
}

main {
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 4fr;
  grid-gap: 20px;
}
main .basic {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #fff;
}
main .professional {
  grid-column: 2/3;
  grid-row: 2/3;
  color: aliceblue;
  background: -webkit-gradient(linear, left top, left bottom, from(hsl(236deg, 72%, 79%)), to(hsl(237deg, 63%, 64%)));
  background: linear-gradient(180deg, hsl(236deg, 72%, 79%), hsl(237deg, 63%, 64%));
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
main .professional .learn {
  background: #fff;
  color: black;
}
main .master {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: #fff;
}
main .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .price .title {
  margin-bottom: 15px;
}
main .price .dolar {
  font-size: 40px;
}
main .price .dolardollar {
  font-size: 5px;
}

header .text {
  margin: 20px;
  text-align: center;
  font-size: 25px;
}
header span {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: gray;
}
header span .fa-solid {
  margin: 10px;
}

@media (min-width: 576px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper main {
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 4fr;
  }
  .wrapper main .basic,
.wrapper main .professional,
.wrapper main .master {
    width: 300px;
    height: 500px;
    font-size: 15px;
    color: black;
    padding: 0vh;
    margin: 0;
  }
  .wrapper main .basic .learn,
.wrapper main .professional .learn,
.wrapper main .master .learn {
    width: 250px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
  }
  .wrapper main .basic .box,
.wrapper main .professional .box,
.wrapper main .master .box {
    margin-bottom: 35px;
  }
  .wrapper main .basic .price,
.wrapper main .professional .price,
.wrapper main .master .price {
    margin-top: 50px;
  }
  .wrapper main .professional {
    grid-column: 2/3;
    grid-row: 1/2;
    color: #fff;
  }
  .wrapper main .professional .box {
    border-color: #fff;
  }
  .wrapper main .basic {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .wrapper main .master {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}/*# sourceMappingURL=style.css.map */