* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	background-image: url(../images/bg-top.svg);
	background-repeat: no-repeat;
	background-position: top right;
	margin: 0 auto;
}

.basic,
.professional,
.master {
	width: 80vw;
	height: 40vh;
	margin: 0 auto;
	border-radius: 10px;
	padding: 5vh;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	text-align: center;


	.learn {
		width: 40vw;
		height: 5vh;
		text-align: center;
		background: linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
		color: white;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
		border-color: transparent;
	}
	.box {
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 45px;
		border-top: 2px dotted gray;
	}
}

main {
	display: grid;
	grid-template-columns: (2, 1fr);
	grid-template-rows: 4fr;
	grid-gap: 20px;

	.basic {
		grid-column: 1/2;
		grid-row: 1/2;
		background-color: #fff;
	}
	.professional {
		grid-column: 1/2;
		grid-row: 2/3;
		color: aliceblue;
		background: linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
		transform: scale(1.05);
		.learn {
			background: #fff;
			color: black;
		}
	}
	.master {
		grid-column: 1/2;
		grid-row: 3/4;
		background-color: #fff;
	}

	.price {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.title {
			margin-bottom: 15px;
		}

		.dolar {
			font-size: 40px;
			&dollar {
				font-size: 5px;
			}
		}
	}
}
header {
	.text {
		margin: 20px;
		display: flex;
		font-size: 25px;
		justify-content: center;
		align-items: center;
	}
	span {
		margin-bottom: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		margin-bottom: 20px;
		color: gray;

		.fa-solid {
			margin: 10px;
		}
	}
	.image {
		z-index: -1;
	}
}
@media (min-width: 576px) {
	main {
		display: grid;
		grid-template-columns: (4, 1fr);
		grid-template-rows: 4fr;
		margin: 0 auto;
		height: 50vh;
		width: 50vw;

		.basic,
		.professional,
		.master {
			width: 300px;
			height: 500px;
			font-size: 15px;
			color: black;
			padding: 0vh;
			margin: 0;

			.learn {
				width: 250px;
				height: 50px;
				text-align: center;
				margin: 0 auto;
			}
			.box {
				margin-bottom: 35px;
			}
			.price {
				margin-top: 50px;
			}
		}
		.professional {
			grid-column: 2/3;
			grid-row: 1/2;
			color: #fff;
			.box {
				border-color: #fff;
			}
		}
		.basic {
			grid-column: 1/2;
			grid-row: 1/4;
			
		}
		.master {
			grid-column: 3/4;
			grid-row: 1/2;
		}
	}
}
